<main class="page-newpost">
    <h1 class="pagelogo-heading"><strong>CREATE NEW POST</strong></h1><br>
    <div class="container body-content span=8 offset=2">
        <form class="form-horizontal" method="POST" action="/article/create">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="color: black">Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="articleTitle" placeholder="Article Title" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="color: black">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleContent" rows="5" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<h1 class="pagelogo-subheading">"NEVER LOVE ANYBODY WHO TREATS YOU LIKE YOU'RE ORDINARY"</h1>
<h2 class="pagelogo-subheading" style="font-size: smaller; margin-bottom: -21px">-OSCAR WILDE</h2><br>